<div class="comment">
  <br>
  <h4 style="display: inline">
    <%= comment.user.name %> 
  </h4>
  <i style="opacity: 50%;"> 
    <%= time_ago_in_words(comment.created_at)%> ago 
  </i>
  
  <p>
    <%= comment.body %>
  </p>
</div>

