<%= render  "shared/logo" %>
<%= render  "shared/dashboard" %>

<h1 class='intent'> Incoming requests </h1>
<%= render  @incoming_requests %>
<br>
<h1 class='intent'> Pending requests </h1>
<%= render  @sent_requests %>
